@import url("style-shopping-cart.css");
@import url("style-index.css");

@font-face {
    font-family: 'CeraPro-medium';
    src: url('assets/fonts/cera-pro/CeraPro-Medium.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CeraPro-bold';
    src: url('assets/fonts/cera-pro/CeraPro-Bold.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CeraPro-light';
    src: url('assets/fonts/cera-pro/CeraPro-Light.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    max-width: 1199px;
    margin: 0 auto; 
    padding: 0;
}



.breadcrumbs{
    display: flex;
    margin-left: 60px;
    font-family: 'CeraPro-Medium', Arial, sans-serif; 
}
.product-page {
    display: flex;
    gap: 20px;
    padding: 20px 60px;
    align-items: flex-start;
}

.product-display {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start; 
}

.product-thumbnails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
}

.product-thumbnails__image {
    width: auto;
    height: calc(25% - 7.5px);
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-thumbnails__image:hover,
.product-thumbnails__image:focus {
    border-color: green;
}

.product-main__image-container {
    position: relative;
    max-height: 500px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-main__image {
    width: auto;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-main__magnifier {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    padding: 5px;
}

.product-details {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-left: auto;
    gap: 20px;
    align-self: flex-start; 
    font-family: 'CeraPro-Medium', Arial, sans-serif;
}

.product-details__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -30px;
}

.product-details__description-title {
    font-size: 16px;
    margin-top: -30px;
}

.product-details__price-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Добавлено для позиционирования линии */
}

.product-details__price {
    font-size: 22px;
    color: #46A358;
}

.product-details__rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating-star {
    width: 20px;
    height: 20px;
}

.product-details__description {
    font-size: 16px;
    margin-bottom: 20px;
}

.product-details__size {
    margin-top: -60px;
}

.product-details__size-options {
    display: flex;
    gap: 10px;
}

.size-option {
    border: 1px solid #46A358; 
    background-color: #46A358; 
    color: white; 
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.size-option:hover,
.size-option.active {
    background-color: #ffffff; 
    color: #46A358;;
}

.product-details__actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.product-details__meta {
    margin-top: -40px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.quantity-decrease,
.quantity-increase {
    border: none;
    background-color: #f0f0f0;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
}

.quantity-input {
    width: 40px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
}

.buy-now,
.add-to-cart,
.wishlist {
    background-color: #46A358;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.add-to-cart {
    background-color: transparent;
    border: 1px solid #46A358;
    color: #46A358;
}

.wishlist {
    background-color: transparent;
    border: 1px solid #46A358;
    color: #46A358;
    font-size: 18px;
}

.product-details__meta {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

.product-details__share {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #666;
    margin-top: -50px;
    font-weight: bold;
    
}

.social-icons {
    margin-left: 20px;
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* Вторая секция */

.product-info {
    width: calc(100% - 120px); 
    margin: 0 auto; 
    padding: 20px 60px;
    font-family: 'CeraPro-Medium', Arial, sans-serif;
}

.product-info__tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.product-info__tab {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
    font-family: 'CeraPro-Medium', Arial, sans-serif;
    align-items: start;
}

.product-info__tab--active {
    color: #46A358;
    border-bottom: 3px solid #46A358;
}

.product-info__content {
    display: none;
    font-family: 'CeraPro-Light', Arial, sans-serif;
}

.product-info__content--active {
    display: block;
}

/* Секция "Related Products" */

.related-products {
    width: calc(100% - 120px); 
    margin: 0 auto; 
    padding: 20px 60px;
    font-family: 'CeraPro-Medium', Arial, sans-serif;
}

.related-products__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #46A358;
    position: relative;
}

.related-products__title::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px; 
    height: 1px; 
    background-color: #666; 
    opacity: 0.5; 
}

.related-products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.related-product {
    flex: 1 1 calc(20% - 20px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.related-product__image {
    width: 100%;
    height: auto;
    max-width: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.related-product__name {
    font-size: 16px;
    margin: 5px 0;
}

.related-product__price {
    font-size: 14px;
    color: #46A358;
}

.related-products__pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.related-products__pagination-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #46A358;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.5;
}

.related-products__pagination-circle--active {
    opacity: 1;
}

.buy-now:hover,
.add-to-cart:hover,
.wishlist:hover,
.email__button:hover {
    background-color: #34A049; 
    color: #fff;
}

.add-to-cart:hover {
    background-color: #34A049; 
    color: #fff; 
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .related-product {
        flex: 1 1 calc(50% - 20px); /* Две карточки в ряд на планшетах */
    }
    
    .header__logo-image {
        height: 35px; 
        width: auto; 
    }
}

@media (max-width: 480px) {

    .header__logo-image {
        height: 30px; 
        width: auto; 
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px; 
        color: rgba(49, 49, 49, 0.171);
        font-family: 'CeraPro-Medium', Arial, sans-serif;
        position: relative;
    }
    
    .header::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0; 
        height: 1px; 
        background-color: #666; 
        opacity: 0.5; 
    }
    
    .header__logo-image {
        height: 30px;
        margin-right: 10px;
    }
    
    .header__title {
        font-size: 16px;
        margin: 0;
    }
    
    .header__nav {
        display: none; /* Скрываем навигацию */
    }

    .header__login-cart {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: -20px;
    }
    
    .header__search-image {
        position: relative;
        height: 20px;
    }
    
    .header__cart-image {
        height: 18px;
    }
    
    .header__login-button {
        display: flex;
        align-items: center;
        background-color: #46A358;
        color: white;
        padding: 6px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
        font-size: 14px; 
    }
    
    .header__login-icon {
        width: 18px; 
        height: 18px; 
        margin-right: 5px; 
    }
    
    .related-product {
        flex: 1 1 100%; /* Одна карточка в ряд на мобильных устройствах */
    }
    
    .product-page {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        gap: 20px;
        padding: 20px 30px; 
        align-items: flex-start;
    }
    
    .product-display {
        display: none;
    }
    
    .product-main {
        display: flex;
    }
    
    .product-main__image-container {
        display: flex;
        position: relative;
        max-height: 250px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .product-info {
        width: calc(100% - 60px); 
        margin: 0 auto; 
        padding: 20px 30px;
        font-family: 'CeraPro-Medium', Arial, sans-serif;
    }
    
    .product-info__tabs {
        display: flex;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }
    
    .product-info__tab {
        padding: 10px 15px;
        cursor: pointer;
        border: none;
        background: none;
        font-size: 16px;
        font-family: 'CeraPro-Medium', Arial, sans-serif;
        align-items: start;
    }
    
    .product-info__tab--active {
        color: #46A358;
        border-bottom: 3px solid #46A358;
    }
    
    .product-info__content {
        display: none;
        font-family: 'CeraPro-Light', Arial, sans-serif;
    }
    
    .product-info__content--active {
        display: block;
    }
    
    .product-main__image {
        width: auto;
        height: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    
    .product-main__magnifier {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 22px;
        height: 22px;
        cursor: pointer;
        padding: 5px;
    }
    
    .product-details {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-left: 0;
        gap: 20px;
        align-self: flex-start; 
        font-family: 'CeraPro-Medium', Arial, sans-serif;
    }
    
    .product-details__title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .product-details__description-title {
        font-size: 14px;
        margin-top: 0;
    }
    
    .product-details__price-rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative; 
    }
    
    .product-details__price {
        font-size: 20px;
        color: #46A358;
    }
    
    .product-details__rating {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .rating-star {
        width: 16px;
        height: 16px;
    }
    
    .product-details__description {
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .product-details__size {
        margin-top: -60px;
    }
    
    .product-details__size-options {
        display: flex;
        gap: 10px;
    }
    
    .size-option {
        border: 1px solid #46A358;
        background: none;
        padding: 5px;
        cursor: pointer;
        border-radius: 50%; 
        width: 35px; 
        height: 35px; 
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px; 
    }
    
    .size-option:hover,
    .size-option.active {
        background-color: #46A358;
        color: white;
    }
    
    .product-details__actions {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }
    
    .quantity-selector {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .quantity-decrease,
    .quantity-increase {
        border: none;
        background-color: #f0f0f0;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 16px;
    }
    
    .quantity-input {
        width: 40px;
        text-align: center;
        border: none;
        outline: none;
        font-size: 14px;
    }
    
    .buy-now,
    .add-to-cart,
    .wishlist {
        background-color: #46A358;
        border: none;
        color: white;
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 14px; 
    }
    
    .add-to-cart {
        background-color: transparent;
        border: 1px solid #46A358;
        color: #46A358;
    }
    
    .wishlist {
        background-color: transparent;
        border: 1px solid #46A358;
        color: #46A358;
        font-size: 16px;
    }
    
    .product-details__meta {
        margin-bottom: 20px;
        font-size: 12px;
        color: #666;
    }
    
    .product-details__share {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #666;
        margin-top: -50px;
        font-weight: bold;
    }
    
    .social-icons {
        margin-left: 10px;
        display: flex;
        gap: 5px;
    }
    
    .social-icons img {
        width: 16px;
        height: 16px;
        cursor: pointer;
    }
}


/* Адаптация для больших экранов */
@media (min-width: 1200px) {
    .header__logo-image {
        height: 32px; 
        width: auto; 
        max-width: none; 
    }
}
@media (max-width: 900px) {
    .product-display{
        display: none;
    }
    .header {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 10px 15px;
        flex-direction: row; 
    }

    .header__logo {
        display: flex;
        align-items: center;
    }

    .header__logo-image {
        height: 22px; 
        width: auto;
    }

    .header__title {
        font-size: 18px; 
        margin: 0;
        margin-left: 10px; 
    }

    .header__nav {
        display: none; 
    }

    .header__login-cart {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .header__search-image {
        height: 18px; 
    }

    .header__cart-image {
        height: 18px; 
    }

    .header__login-button {
        padding: 6px 10px; 
        font-size: 14px; 
        display: flex;
        align-items: center;
    }

    .header__login-icon {
        width: 16px; 
        height: 16px;
        margin-right: 5px;
    }
}

@media (max-width: 500px) {
    

    .header__logo-image {
        height: 22px; 
        width: auto; 
        max-width: none; 
    }
    
    footer {
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 650px;
        border-radius: 20px;
    }
    
    .footer__subscribe {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        /*width: 100%;*/
        margin-left: 20px;
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer__contacts {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        justify-content: space-around;
        margin-top: 20px;
    }
    
    .footer__social {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 50px;
    }
    
    .footer__social h2 {
        align-content: center;
    }
    }
    
    @media (max-width: 380px) {
        .footer__send {width: 88%;}
    }

    