/* @import "style-index.css"; */


@font-face {
    src: url("assets/fonts/cera-pro/CeraPro-Regular.woff2");
    font-family: 'CeraPro-Regular';
}

@font-face {
    src: url("assets/fonts/cera-pro/CeraPro-Bold.woff2");
    font-family: 'CeraPro-Bold';
}

@font-face {
    src: url("assets/fonts/cera-pro/CeraPro-Medium.woff2");
    font-family: 'CeraPro-Medium';
}

body {
    font-family: "CeraPro-Regular", "Arial", sans-serif;
    font-size: 14px;
}

html {
    box-sizing: border-box;
    color: #3D3D3D;
}

*, *::after, *::before {
    box-sizing: inherit;
    color: inherit;
}

a {   
    text-decoration: none;
}

input:active, input:focus {
    outline: 0;
    outline-offset: 0;
} 

.wrapper {
    margin: 0 auto;
}


.header__container {
display: flex;
justify-content: space-between;
align-items: center;
width: inherit;
position: relative;
height: 78px;
border-bottom: 1px solid rgba(70, 163, 88, 0.3);
}

.header__menu, .header__menu * {
    height: 100%;
    display: flex;
}

.header__logo {
    width: 12.5%;
    min-width: 80px;
}

.header__logo-image {
    width: 100%;
}

.header__menu-list {
    justify-content: space-around; 
    list-style-type: none;
    list-style-position: inside; 
    padding-left: 0;
    margin: 0;
}

.header__menu-list-item {
padding-top: 33px;
}

.header__menu-list-item:hover {
    border-bottom: 3px solid #46A358;
}

.header__btn-group {
    display: flex;
    justify-content: space-between; 

}

.header__login-button {
    width: 100px;
    height: 35px;
    border-radius: 6px;
}

.header__mob {
    margin: 33px 28px 0 28px;
    display: flex;
    gap: 45%;
    align-items: center;
    max-height: 35px;
}

.header__mob-title {
    font-family: "CeraPro-Medium", "Arial", sans-serif;
    font-size: 20px;
    }
    
.header__mob-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50px;
    background-color: #F3F3F3;
    }

.header__mob-button:active {
    background-color: #46A358;
}



.main__menu-list {
    max-width: 214px;
    list-style-type: none;
    list-style-position: inside; 
    padding-left: 0;
    display: flex;
    justify-content: space-between; 

}

.main__menu-link {
    margin-right: 4px;

}

.h1__products {
    grid-column-start: 1;
    grid-column-end: 3;

}

.h1__total {
    grid-column-start: 5;
    grid-column-end: 7;

}

.product__discription {
    flex-direction: column;
    justify-content: center;


}

.product__discription * {
    margin: 0;
    padding: 0;
    align-self: flex-start;
    
}

.product__img {
justify-content: center;
align-items: center;

}

.cart__list * {
    display: flex;
    align-items: center;
} 


.cart__list-title {
    font-size: 16px;
    align-self: flex-end;
    margin: 0;
    border-bottom: 1px solid rgba(70, 163, 88, 0.3);

}
.product__name {
    font-size: 16px;
}

.product__id {
    font-size: 14px;
}

.product__quantity-button {
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__quantity-total {
    margin: 13px;
    font-size: 17;
    border: none;
    background-color: inherit;
}

.product__delete-button {
    background-color: transparent;
    border: none;
}

.product__total-price {
    font-size: 16px;
}

.cart__totals {
    display: grid;
}

.cart__totals * {
    display: flex;
}

.totals__coupon-title{
    align-self: center;
}

.totals-title {
    align-items: flex-end;
    border-bottom: 1px solid rgba(70, 163, 88, 0.3);
}
.totals__coupon {
    flex-direction: column;
    justify-content: space-between;
}

.totals__coupon-form {

}

.totals__coupon-form-input{
border: none;
}

.btn {
display: flex;
align-items: center;
justify-content: center;
background-color: #46A358;
color: #FFFFFF;
border: none;

}
.totals__checkout-btn{
border-radius: 3px;
}


.totals__subtotal, .totals__discount, .totals__total {
    align-items: center;
    justify-content: space-between;
}

.totals__shipping-cost {
    align-items: flex-start;
    justify-content: space-between;
}

.totals__shipping-container{
    flex-direction: column;
    align-items: flex-end;

}
.totals__continue {
    justify-content: center;
}




.slider {
    margin-top: 70px;
}

.slider__title {
    width: 100%;
    border-bottom: 1px solid rgba(70, 163, 88, 0.3);
    margin-bottom: 30px;
    }



.slider__container {
        display: flex;
        max-width: 300%;
        height: 100%;
        display: flex;
        height: 368px;
        overflow: hidden;
        margin: 0 auto;
}

    .slider__item-img {
        width: 100%;
        max-height: 255px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FBFBFB;
        transition: box-shadow 0.3s;
    }
    
    .slider__item-img:hover {
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
    }
    
    .slider__item-name{
        margin-top: 12px;
    }
    
    .slider__item {
    width: 18.4%;
    flex-grow: 1;
}
    
    .slider__inner {
        min-width: 100%;
        margin: 0;
        max-height: 368px;
        display: flex;
        gap: 2%;
        transition: all 0.3s ease;
    }
    
    .slider__item-img {
        width: 100%;
        height: 255px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FBFBFB;
        transition: box-shadow 0.3s;
        /* background-image: url(assets/image_10.svg);
        background-repeat: no-repeat;
        background-position: center; */
    }
    
    .slider__item-img:hover {
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
    }
    
    .slider__item-name{
        margin-top: 12px;
    }
    
    .slider__navigation {
        height: 40px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    
    .slider__buttons-input  {
        width: 1px;
        height: 1px;
        opacity: 0;
        z-index: -1;
    }
    
    #r1:checked ~ .s1 {
        margin-left: 0;
    }
    
    #r2:checked ~ .s1 {
        margin-left: -100%;
    }
    
    #r3:checked ~ .s1 {
        margin-left: -200%;
    }
    
    .slider__buttons-design {
        width: 13px;
        height: 13px;
        margin: 9px;
        border-radius: 10px;
        background-color: #46A358;
    
    }
    
    .slider__buttons-design::before {
        content: '';
        display: inline-block;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        border: 2px solid #46A358;
        background: white;
        transform: scale(1.1);
        transition: .3s;
    }
    
    .slider__buttons-design:hover {
        transform:scale(1.1);
    }
    


    .product__total-price-mob, .product__total-price, .totals__total-item-value, .totals__continue-link, .totals__shipping-cost-link, .slider__title, .slider__item-price, .header__menu-list-link:hover 
    {
    color: #46A358;}

.price:before {
    content: '$';
}


.totals__shipping-cost-link:hover, .totals__continue-link:hover {
    font-family: "CeraPro-Medium", "Arial", sans-serif;
}


.main__menu-link, .totals__subtotal-item, .totals__discount-item, .totals__shipping-cost-item, .totals__discount-value, .totals__continue-link, .slider__item-name {
    font-family: "CeraPro-Regular", "Arial", sans-serif;
    font-size: 15px;
}

.main__menu-link:hover, .header__menu-list-link:hover {
    font-family: "CeraPro-Bold", "Arial", sans-serif;
}

.cart__list-title, .product__name, .product__single-price, .header__login-button {
    font-family: "CeraPro-Medium", "Arial", sans-serif;
    font-size: 16px;
}

.product__quantity-total {
    font-family: "CeraPro-Regular", "Arial", sans-serif;
    font-size: 17px;
}
.product__total-price, .totals__total-item, .slider__item-price { 
    font-family: "CeraPro-Bold", "Arial", sans-serif;
    font-size: 16px;
}

.totals-title, .totals__total-item-value {
    font-family: "CeraPro-Bold", "Arial", sans-serif;
    font-size: 18px;
}

.totals__coupon-form-btn, .totals__checkout-btn {
    font-family: "CeraPro-Bold", "Arial", sans-serif;
    font-size: 15px;
}

.totals__subtotal-item-value, .totals__shipping-cost-item-value {
    font-family: "CeraPro-Medium", "Arial", sans-serif;
    font-size: 18px;
}


.totals__shipping-cost-link{
    font-family: "CeraPro-Regular", "Arial", sans-serif;
    font-size: 12px;
}

.product__quantity-button {
    font-family: "CeraPro-Regular", "Arial", sans-serif;
    font-size: 20px;
}

.slider__title {
    font-family: "CeraPro-Bold", "Arial", sans-serif;
    font-size: 17px;
}

.header__menu-list-link {
    font-family: "CeraPro-Regular", "Arial", sans-serif;
    font-size: 16px;
}




@media (min-width: 900px) {
    .header__menu-list {
        gap: 50px;}

    .header__login-button{
        width: 100px;
    }
    .header__btn-group {
        gap: 30px;
    }
}

@media (min-width: 700px) and (max-width:900px) {
    .header__login-button {  
        width: 75px;}
    .header__btn-group {
        gap: 20px;
        }
    .header__menu-list {
        gap: 25px;
        }
}

@media (min-width: 480px) and (max-width:700px) {
    .header__login-icon {
        display: none;
    }
    .header__login-button {  
        width: 50px;
    }
    .header__btn-group {
        gap: 10px;
    }
    .header__menu-list {
    gap: 10px;}
} 



@media (min-width: 480px) {
    .wrapper {
            max-width: 1199px;
            width: 90%;
        }
    
    .cart__container {
        display: grid;
        grid-template-columns: 65% 27% ;
        gap: 7%;
        }
    
    .cart__list {
            display: grid;
            grid-template-rows: repeat(4, 70px);
            row-gap: 10px;
        }

    .cart__list-item, .cart__list-titles {
            display: grid;
            grid-template-columns: 81fr 225fr 140fr 163fr 111fr 50fr;
        }

    .item-desk { 
        background-color: #FBFBFB;}

    .product__size, .product__total-price-mob, .header__mob, .desk-invizible {display: none;}
        
    .cart__totals {
        grid-template-rows: 70px 70px 30px 30px 50px 50px 40px 22px;
        row-gap: 10px;}
    
    
    .product__quantity-button {
        width: 22px;
        height: 25px;
        background-color: #46A358;
        color: #FFFFFF;
}
.totals__coupon-form {
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 31%;
    align-items: stretch;
    border: 1px solid #46A358;
    border-radius: 3px;
    overflow: hidden;

}
}

@media (max-width: 480px) {
    .cart__list-titles, .totals__continue, .header__container, .footer, .main__menu, .slider, .product__id, .product__single-price, .product__total-price, .product__delete, .totals-title, .totals__coupon-title {display: none;}

    .wrapper {
        max-width: 100%;}

    .cart__list {
        display: grid;
        grid-template-rows: repeat(4, 100px);
        row-gap: 23px;
        margin: 28px;}
        
        
    .cart__list-item {        
        display: grid;
        grid-template-columns: 100px 1fr 97px;
        row-gap: 23px;
        box-shadow: 0px 20px 12px  rgba(241,241,241, 0.6); 
        border-radius: 40px;
    }

    .product__quantity-button {
        width: 24px;
        height: 24px;
        background-color: #F6F6F6;
        }


    .cart__totals {
        z-index: 10;
        position: sticky;
        bottom: 0;
        min-height: 414px;
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 40px;
        padding: 25px;
        grid-template-rows: 50px 41px 34px 53px 60px 60px;
        box-shadow: 20px -20px 12px  rgba(241,241,241, 0.6); 
    }




        .totals__coupon-form {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 25%;
            align-items: stretch;
            border: none;
            border-radius: 40px;
            overflow: hidden;
        }



        
        

        .totals__coupon-form-input {
            border-radius: 40px;
            background-color: #3D3D3D;
            }
    
            .totals__coupon-form-btn {
                border-radius: 40px;

            }

    }